.translate-result {
    font-size: 14px;
}

.translate-button {
    cursor: pointer;
    color: rgb(29, 155, 240);
    font-size: 14px;
}

.translate-button:hover {
    text-decoration: underline;
}

.batch-translate-button {
    margin-left: auto;
}

.tweet-translate-button {
    margin-right: 10px;
}